<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Description</th>
      <th>Cover</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author.name %></td>
        <td style="max-width:600px;"><%= book.description %></td>
        <td>
            <%= image_tag book.cover.url(:thumb) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>